<header id='header'>
  <%= video_tag "sizetest3.mp4", :controls => true, class: 'video' %>
  <div class='container'>
  	<div class='row'>
		  <div class='header-div col-md-4 col-md-offset-2'>
		  	<h1>jflksdajfldsjlfjsdjlfjdsljfdslkjfsdajfldsjlfjdslk</h1>
		  </div>
		</div>
	</div>
</header>
<section id='about'>
	<h2>My services</h2>
	<div class='container'>
		<div class='row text-center'>
			<div class='col-md-3'>
				<img src="http://images.clipartpanda.com/cute-camera-clipart-camera-20clip-20art-RTG6aqjnc.jpg" height='100px' width='100px'>
				<h3>Photography</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dictum mauris et placerat viverra. Phasellus scelerisque, felis nec facilisis tristique, arcu dolor consequat orci, vel lacinia mi nisi vel ex. Aliquam ac lectus ultrices.</p>
			</div>
			<div class='col-md-3'>
				<img src="http://images.clipartpanda.com/royalty-free-video-royalty-free-video-camera-clipart-illustration-1145682.jpg" height='100px' width='100px'>
				<h3>Videography</h3>
				<p>Fusce sed nibh commodo, laoreet nunc quis, viverra enim. Nam et fringilla diam. Aenean varius posuere nibh non faucibus. Vivamus pulvinar, lorem at volutpat mollis, diam purus faucibus metus, sed convallis eros massa sed augue. Duis orci leo, porttitor vitae ipsum at, tristique imperdie</p>
			</div>
			<div class='col-md-3'>
				<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTC2eMteUGUVcLnN6pUtDxY5xsnW9AZ5RATn3AvvJhnOIKBuXAk7w" height='100px' width='100px'>
				<h3>Editing</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dictum mauris et placerat viverra. Phasellus scelerisque, felis nec facilisis tristique, arcu dolor consequat orci, vel lacinia mi nisi vel ex. Aliquam ac lectus ultrices.</p>
			</div>
		</div>
	</div>
</section>
<section id='contact' class='container'>
  <div class='row'>
  </div>
</section>
<footer>
</footer>